body {
    width: 400px;
    height: 620px;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    /* Flex 컨테이너로 설정 */
    flex-direction: column;
    /* 세로 방향으로 정렬 */
    justify-content: center;
    /* 수직 가운데 정렬 */
    align-items: center;
    /* 수평 가운데 정렬 */
    box-sizing: border-box; /* 내용과 패딩을 너비에 포함 */
}

.내용 {
    margin: 0 20px;
    box-sizing: border-box; /* 내용과 패딩을 너비에 포함 */
}

.app-title {
    text-align: center;
    font-size: 22.5px;
    font-weight: bold;
    padding: 15px;
    width: 100%;
    /* 전체 너비 */
    max-width: 400px;
    /* 최대 너비를 400px로 제한 */
    background-color: #635BFF;
    color: #ffffff;
    margin: 0;
    /* 마진 제거 */
    box-sizing: border-box;
    /* 내용과 패딩을 너비에 포함 */
}

.app-title:hover {
    color: black;
}

.greeting {
    text-align: left;
    font-size: 22.5px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: 20px;
    padding: 2.5px;
    width: 100%;
    /* 전체 너비 */
    max-width: 400px;
    /* 최대 너비를 400px로 제한 */
    box-sizing: border-box; /* 내용과 패딩을 너비에 포함 */
}

/*달력*/
.calendar {
    width: 100%;
    /* 전체 너비 */
    height: 110px;
    max-width: 400px;
    /* 최대 너비를 400px로 제한 */
    justify-content: center;
    align-items: center;
    text-align: center;

    border-radius: 30px;
    background-color: #ffffff;

    font-size: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    display: grid;
    justify-self: center;
    grid-template-columns: 1fr repeat(6, 1fr);
    grid-template-rows: auto;
    border: 0.5px solid #ddd;

}

.month {
    grid-column: 4;
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
}

.day {
    grid-row: 2;
    border-bottom: 3px solid #ddd;
}

/*사업장 선택*/
.출퇴근 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.label-arrow {
    display: flex;
    align-items: center;
}

select {
    padding: 7px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 10px;
    width: 100px;
    max-width: 100%;
    margin: 10px auto;
}

.실시간근무현황 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.현황 img {
    width: 300px;
    /* 이미지의 가로 너비를 100%로 설정 */
    max-width: 100%;
    /* 이미지 최대 가로 너비 설정 */
    height: auto;
    /* 가로 비율에 맞춰 자동으로 높이 조절 */
}

/*급여,근무,선지급 박스*/
.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 0.5fr));
    gap: 15px;
    width: 100%;
    /* 전체 너비 */
    max-width: 400px;
    /* 최대 너비를 400px로 제한 */
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.work-box,
.money-box {
    border-radius: 35px;
    background-color: #ffffff;
    padding: 70px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    transition: transform 0.15s, box-shadow 0.15s;
}

.work-box:hover,
.money-box:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

.money-box .icon img,
.work-box .icon img {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 50px;
    left: 25px;
    transition: transform 0.15s, box-shadow 0.15s
}

.money-box .icon img:hover,
.work-box .icon img:hover {
    opacity: 0.8;
}

.money-box .text button,
.work-box .text button
{
    position: absolute;
    top: 1px;
    left: 40%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    border: none;
    background-color: white;
}

/* 방문하지 않은 링크 */
a:link {
    color: black;
    /* 링크의 색상을 검정색으로 설정 */
    text-decoration: none;
    /* 밑줄 제거 */
}

/* 방문한 링크 */
a:visited {
    color: black;
    /* 링크의 색상을 검정색으로 설정 */
    text-decoration: none;
    /* 밑줄 제거 */
}

/*선지급*/
.선지급-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    background-color: #ffffff;
    padding: 5px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 100%; /* 가로 너비 100% */
    max-width: 400px; /* 최대 너비 400px로 제한 */
    height: 60px;
    box-sizing: border-box;
    margin-bottom: 17px;
}


.선지급-box:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);
}

.선지급-box .text button{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: none;
    background-color: white;
}

@media all and (max-width: 300px) {
    .main {
        grid-template-columns: 1fr;
    }
}
