body {
    width: 400px;
    height: 620px;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    /* Flex 컨테이너로 설정 */
    flex-direction: column;
    /* 세로 방향으로 정렬 */
    justify-content: center;
    /* 수직 가운데 정렬 */
    align-items: center;
    /* 수평 가운데 정렬 */
    box-sizing: border-box;
    overflow-y: hidden; /* 세로스크롤 금지 */
}

/*상단바*/
.상단바 {
    display: flex;
    align-items: center;
    padding: 15px;
    width: 100%;
    max-width: 400px;
    background-color: #635BFF;
    margin: 0;
    height: 56.4px;
    /* 높이 추가 */
    box-sizing: border-box;
}

.상단바 .화살표 {
    margin-right: 10px;
}

.상단바 .화살표 img {
    width: 20px;
    height: 20px;
}

.상단바 .화살표 button {
    background-color: #635bff;
    border: none;
    padding: 0;
    /* 버튼 내부 패딩 제거 */
}

.상단바 .title {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    flex-grow: 1;
}

/* 프로필 */
.box {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.프로필 {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.사진 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    float: left;
    margin-right: 40px;
    /* 사진과 이름 사이의 간격을 조절 */
}

.이름 {
    float: center;
    margin-left: 80px;
    /* 사진과 이름 사이의 간격을 조절 */
    font-weight: 600;

}


/* 근무 시간 표 */
.table {
    display: table;
}

.date {
    margin-top: 0; /* Remove default margin */
    margin-bottom: 5px; /* Add margin to the bottom */
    font-weight: lighter;
}

.근무날짜 {
    background-color: #f0f0f0;
    padding: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    display: table-caption;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 18px;
    width: 330px;
}

.heading {
    display: table-row;
    font-weight: bold;
    text-align: center;
}

.row {
    display: table-row;
    justify-content: space-between;
    padding: 2px 5px; /* 위아래 2px, 좌우 5px */
    font-size: 16px;
    font-weight: 550;
}

.cell {
    display: table-cell;
    border: none;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}


/* 특이사항 */
/* 테이블 헤더 */
th {
    font-size: 20px;
    font-weight: bolder;
    padding-bottom: 10px; /* 간격 추가 */
}

td {
    font-size: 15px;
    padding-bottom: 2px;
}
.table tbody tr:not(:last-child) {
    margin-bottom: 15px; /* 원하는 간격으로 조정 */
}

.container {
    background-color: #FFF9C8;
    border-radius: 10px;
    width: 330px;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.action_container {
    display: flex;
    /* Flexbox를 사용하여 내부 요소를 나란히 배치 */
    justify-content: space-between;
    /* 요소들을 최대한 간격을 벌려서 배치 */
    align-items: center;
    /* 요소들을 수직 가운데 정렬 */
}

.success,
.danger {
    margin: 0;
    /* 기본 마진 제거 */
}

button.success {
    background-color: #635bff;
    color: white;
    border: none;
    padding: 6px 13px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 5px;
}

button.success:hover {
    background-color: #218838;
}

/* 하단 네비게이션 바 아이콘 */

footer {
    padding: 2.5px;
    text-align: center;
    border-radius: 17.5px;
    /* display: grid; */
    display: grid; /* Flex 컨테이너로 설정 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    width: calc(100% - 40px); /* 양 옆 여백을 빼줌 */
    margin: 0 20px; /* 양 옆 여백 조정 */
    margin-top: 14px;
    margin-bottom: 18px;

}

.circle-icon {
    font-size: 14.4px; /* 18px의 0.8배 */
    color: rgb(0, 0, 0);
    border-radius: 50%;
    padding: 2px; /* 2.5px의 0.8배 */
    margin: 4px; /* 5px의 0.8배 */
    display: inline-block;
    gap: 10px; /* 7px의 0.8배 */
    transition: opacity 0.15s;
}

.circle-icon:hover {
    transform: scale(1.05);
    opacity: 0.2;
}

/* 웹 페이지 규격 */

@media all and (max-width: 300px) {
    .main {
        grid-template-columns: 1fr;
    }
}