body {
    width: 400px;
    height: 620px;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    /* Flex 컨테이너로 설정 */
    flex-direction: column;
    /* 세로 방향으로 정렬 */
    justify-content: center;
    /* 수직 가운데 정렬 */
    align-items: center;
    /* 수평 가운데 정렬 */
    box-sizing: border-box;
}

.container {
    width: 100%;
    /* 가로 너비 100%로 설정 */
    height: 100%;
    /* 세로 높이 100%로 설정 */
}

/*상단바*/
.상단바 {
    display: flex;
    align-items: center;
  
    padding: 15px;
    width: 100%;
    max-width: 400px;
    background-color: white;
    box-shadow: 0 7px 8px rgba(0, 0, 0, 0.3);
    margin: 0;
    box-sizing: border-box;
  }
  
  .상단바 .화살표 {
    margin-right: 10px;
  }
  
  .상단바 .화살표 img {
    width: 20px;
    height: 20px;
  }
  
  .상단바 .moneyinfo {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
  }

/* 체크 이미지 */
.check {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.check img {
    width: 15%; /* 원하는 크기로 조정 */
    transition: transform 0.1s, box-shadow 0.1s
}

.check img:hover {
    transform: scale(1.03);
}


/* 신청 완료 text */
.신청완료 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 30px;
    letter-spacing: 10px;
}


/* 입금 안내 text */
.입금안내 {
    display: flex;
    justify-content: center;
    color: gray;
    font-size: 15px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

/* 선지급 명세 */
.선지급명세 {
    display: inline-flexbox;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    height: 300px; /* 세로 높이를 300px로 설정 */
    box-sizing: border-box;
    border-radius: 30px;
    padding: 28px;
    background-color: rgb(246, 243, 243);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: calc(100% - 60px); /* 양 옆 여백을 빼줌 */
    margin: 0 30px; /* 양 옆 20px 여백을 추가 */

}

.선지급명세 p {
    font-size: 14px;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.선지급명세 span {
    font-size: 10px;
}

@media all and (max-width: 300px) {
    .main {
        grid-template-columns: 1fr;
    }
}
