/* 페이지 타이틀 */
.app-title {
    text-align: center;
    font-size: 30px; /* 폰트 크기 조정 */
    font-weight: bold;
    padding: 15px; /* 패딩 조정 */
    background-color: #635BFF;
    color: #ffffff;
}

/* 오늘날짜 */
.today {
    text-align: center;
    font-weight: bold;
    font-size: 150%; /* 폰트 크기 조정 */
    margin-top: 10px; /* 간격 조정 */
}

/* 일정 리스트 */
.list-1,
.list-2,
.list-3 {
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px; /* 간격 조정 */
    margin-left: 10px; /* 간격 조정 */
    margin-right: 10px; /* 간격 조정 */
    border-radius: 15px; /* 모서리 조정 */
    padding: 20px; /* 패딩 조정 */
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.where {
    font-weight: bolder;
    margin-bottom: 20px;
}

.time {
    font-size: 16px;
    font-weight: bold;
    color: #888888;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa; /* 둥근네모 배경색 */
    border-radius: 10px; /* 둥근네모 모서리 조정 */
    padding: 5px 10px; /* 둥근네모 패딩 조정 */
}


.list-1 {
    border-left: 15px solid #cae4ab;
}

.list-2 {
    border-left: 15px solid #97f5d4;
}

.list-3 {
    border-left: 15px solid #FFD9A2;
}



/* 하단 메뉴 바 */
footer {
    padding: 5px;
    text-align: center;
    border-radius: 25px; /* 모서리 조정 */
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.circle-icon {
    font-size: 25px; /* 아이콘 크기 조정 */
    color: rgb(0, 0, 0);
    border-radius: 50%;
    padding: 4px; /* 패딩 조정 */
    margin: 10px;
    display: inline-block;
    gap: 12px; /* 아이콘 간격 조정 */
    transition: opacity 0.3s;
}

.circle-icon:hover {
    transform: scale(1.2);
    opacity: 0.4;
}

@media all and (max-width: 600px) {
    .list-1,
    .list-2,
    .list-3 {
        margin-left: 5px; /* 간격 조정 */
        margin-right: 5px; /* 간격 조정 */
    }
}