body {
    width: 400px;
    height: 650px;
    margin: 0;
    font-family: 'S-Core Dream', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex; /* Flex 컨테이너로 설정 */
    flex-direction: column; /* 세로 방향으로 정렬 */
    justify-content: center; /* 수직 가운데 정렬 */
    align-items: center; /* 수평 가운데 정렬 */
}

.내용 {
    margin: 0 auto;
    box-sizing: border-box; /* 내용과 패딩을 너비에 포함 */
}

.app-title {
    display: flex; /* 컨테이너 내 아이템을 플렉스 아이템으로 배치 */
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: center; /* 수평 가운데 정렬 */
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    font-family: 12LotteMartHappyBold;
    padding: 10px;
    width: 100%; /* 전체 너비 */
    max-width: 400px; /* 최대 너비를 400px로 제한 */
    background-color: #c9d1fc;
    color: #ffffff;
    margin: 0; /* 마진 제거 */
    box-sizing: border-box; /* 내용과 패딩을 너비에 포함 */
    transition: color 0.3s; /* 컬러 변화 트랜지션 추가 */
}

.app-title:hover {
    color: black;
}



.greeting {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 2.5px;
    width: 100%; /* 전체 너비 */
    max-width: 400px; /* 최대 너비를 400px로 제한 */
}

.name-text {
    color: #1135FF;
}

/*둥근표*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    border: 0;
    border-spacing: 0px;
    border-collapse: collapse;
    width: 400px;
}

.work {
    padding: 8px; 
    border-radius: 30px; 
    background-color: #F0F0F099;
    box-shadow: 0 7px 8px rgba(0, 0, 0, 0.3);
    width: 100%; /* 전체 너비 */
    max-width: 400px; /* 최대 너비를 400px로 제한 */
}

.tbl {
    width: 100%; 
}

.tbl td {
    padding: 10px; 
    border: 0.5px solid #7c7373;
    text-align: center;
    font-size: 12.5px;
}

.tbl tr:first-child td {
    border-top-color: transparent;
}

.tbl tr:last-child td {
    border-bottom-color: transparent;
}

.tbl td:first-child {
    border-left-color: transparent;
}

.tbl td:last-child {
    border-right-color: transparent;
}

.tbl td span {
    font-size: 1em;
    padding-top: 2.5px;
    display: block;
    font-weight:bold;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/*달력*/
.calendar {
    justify-content: center;
    width: 90%;
    margin-bottom: 10px;
}


/*급여,근무,분석 리포트 박스*/
.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 0.5fr));
    gap: 15px;
    width: 100%;
    /* 전체 너비 */
    max-width: 400px;
    /* 최대 너비를 400px로 제한 */
    justify-content: center;
    align-items: center;
    margin-bottom: 9px;
    margin-top: 10px;
}

.work-box,
.money-box {
    border-radius: 35px;
    background-color: #ffffff;
    padding: 70px;
    box-shadow: 0 7px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    transition: transform 0.15s, box-shadow 0.15s;
}

.work-box:hover,
.money-box:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

.money-box .icon img,
.work-box .icon img {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 45px;
    left: 23px;
    transition: transform 0.15s, box-shadow 0.15s
}

.money-box .icon img:hover,
.work-box .icon img:hover {
    opacity: 0.8;
}

.money-box .text button,
.work-box .text button
{
    position: absolute;
    top: 15px;
    left: 40%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    border: none;
    background-color: white;
}

/* 방문하지 않은 링크 */
a:link {
    color: black;
    /* 링크의 색상을 검정색으로 설정 */
    text-decoration: none;
    /* 밑줄 제거 */
}

/* 방문한 링크 */
a:visited {
    color: black;
    /* 링크의 색상을 검정색으로 설정 */
    text-decoration: none;
    /* 밑줄 제거 */
}

/*분석리포트*/
.분석리포트-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    background-color: #ffffff;
    padding: 5px;
    box-shadow: 0 7px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 100%; /* 가로 너비 100% */
    max-width: 400px; /* 최대 너비 400px로 제한 */
    height: 60px;
    box-sizing: border-box;
    margin-bottom: 22px;
}


.분석리포트-box:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);
}

.분석리포트-box .text {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    border: none;
    background-color: white;
}


@media all and (max-width: 300px) {
    .main {
        grid-template-columns: 1fr;
    }
}
